
.containerSearchBar {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.formSearchBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}


.inputSearch {
  width: 500px;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}


.focusedInput {
  width: 500px;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-color: #0070f3;

  box-shadow: 0 0 8px rgba(0, 112, 243, 0.5);
}

.button {
  padding: 8px 16px;
  margin-left: 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loading {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.resultsList {
  position: absolute;
  top: 100%; 
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  max-height: 300px; 
  overflow-y: auto; 
  z-index: 10;
}

.resultItem {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.resultItem:hover {
  background-color: #f0f0f0;
}

.resultImage {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  object-fit: cover;
  text-decoration: none;
}

.resultText {
  
  font-size: 14px;
  text-decoration: none;

  color: #333;
}
.linkText {
  text-decoration: none;
  display: flex;
  align-items: center;
}
