.addressBoxList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.titleAddressBox {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 400;
}
.addressCardContainer {
  max-width: 350px;
  border-radius: 0.4rem;
  width: 100%;
  padding: 0.8rem 0.8rem;
  margin-top: 2rem;
  background-color: rgb(255, 243, 212);
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease; /* Añade una transición suave */
}
.desplegarText {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
  gap: 0.4rem;
}
.expanded {
  text-align: center;
  font-weight: 500;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
}

.addressLineText {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 0.4rem;
  justify-content: space-between;
  align-items: center;
}
.addressLineText p {
  width: 50%;
}
.containerAddressLineText {
  width: 100%;
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
  justify-content: space-between;
}
.btnEditar {
  margin: 0 auto;
  padding: 0.4rem 1rem;
  width: 100%;
  background-color: #ffca0d;
  border: none;
  border-radius: 0.4rem;
}
.btnContainer {
  display: flex;
  margin-top: 1rem;
  gap: 0.4rem;
}
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  max-width: 500px;
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  width: 100%;
}
.modalContent input {
  border: none;
  border-radius: 0.4rem;
  background-color: #f0f0f0;
  height: 30px;
}

.sideBardMenu {
  background-color: #202020;
  height: 100%;
  top: 0;
  width: 250px;
  position: fixed;
}
.profilePageContainer {
  display: flex;
 
  flex-direction: column;
 
}
